.btn {
    color: darkgoldenrod;
    border: 1px solid white;
    border-radius: 1ch;
    background-color: rgb(42, 42, 42);
}


/* sizes */
.medium {
    box-sizing: border-box;
    line-height: normal;
}

.large {
    line-height: 4;
}

/* variants */

.square {
    border-radius: 0;
}